// Protest Guerrilla
@font-face {
    font-family: 'Protest Guerrilla';
    src: url('@/styles/fonts/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Poppins
@font-face {
    font-family: 'Poppins Light';
    src: url('@/styles/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins Light Italic';
    src: url('@/styles/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins Regular';
    src: url('@/styles/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins Regular Italic';
    src: url('@/styles/fonts/Poppins/Poppins-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins SemiBold';
    src: url('@/styles/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins SemiBold Italic';
    src: url('@/styles/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins Bold';
    src: url('@/styles/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins Bold Italic';
    src: url('@/styles/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}